.GKS-adl { 
        display: flew; 
        align-items: center; 
        height: 40px; 
        justify-content: center; 
        background: #061540; 
        border: 1px solid #ddd7e7; 
        box-sizing: border-box; 
        border-radius: 20px; 
        min-width: 38px; 
        cursor: pointer;
        color :bisque
    }
