ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

p{
  color : lightseagreen;
}

.note {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#id-selector-demo{
  color : limegreen;
}

li[value ="4"] {
  color : greenyellow;
}

*{
  text-align: center;
}